/* init.css */
:root {
  /* Variables de color */
  --color-primary: #1e47c2;
  --color-primary-dark: #0b2a7e;
  --color-white: #ffffff;
  --color-text: #718096;

  /* Variables tipográficas */
  --font-family-base: "Roboto", sans-serif;
}

/* Estilos base de tipografía */
body {
  font-family: var(--font-family-base);
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
